.bar {
  height: 2rem;
  width: 10rem;
  border: none;
  background-color: aquamarine;
  opacity: 0.5;
  margin: 1rem;
}
.form {
  display: flex;
  justify-content: center;
  justify-items: auto;
  align-items: center;
}
