.contain {
  display: flex;
  flex-wrap: wrap;
  /* background-color: visible; */
  align-items: stretch;

  justify-content: center;
  box-sizing: border-box;
  /* transition: all 4s linear; */
  /* animation: anime 10s linear infinite; */
  /* z-index: 11; */
}
@keyframes anime {
  0% {
    filter: hue-rotate(0deg);
    opacity: 0.2;
  }
  100% {
    filter: hue-rotate(360deg);
    opacity: 0.4;
  }
}
.box {
  background-color: rgb(4, 253, 253);
  /* gap: 1rem; */
  margin: 10px;
  box-shadow: 0px 0px 18px;
  height: 10rem;
  width: 10rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 5s ease-in;
  opacity: 0;

  /* transform: translateY(400px); */
}
.box:hover {
  /* transform: translateY(400px); */
  /* transform: rotateY(180deg);
  visibility: visible; */
  opacity: 1;
  color: orangered;
}
.input {
  outline: none;
  border: none;
  background-color: rgb(4, 253, 253, 0.4);
  margin-bottom: 5px;
  width: 5rem;
  align-items: center;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  font-weight: bold;
}
.bloc {
  display: flex;
  flex-direction: column;
}
.bar {
  display: flex;
  height: 2rem;
  width: 10rem;
  background-color: rgba(0, 255, 255, 0.8);
  text-align: center;
  text-transform: uppercase;
  margin: 10px;
  align-items: center;
  justify-content: center;
}
