* {
  border-top-left-radius: 35%;
  border-top-right-radius: 35%;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px;
}
body {
  /* margin: 2%; */
  background-image: url("./../photos/night.jpg");
  /* background-color: aqua; */
  animation: anime 10s linear infinite;
  opacity: 1;
  background-size: cover;
}
.App {
  text-align: center;
}
.container {
  display: block;
  position: relative;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.topbar,
.footer {
  text-transform: uppercase;
  /* background-color: aqua; */
  text-align: center;
  font-size: 1rem;
}
.topbar {
  background-color: visible;
  background-image: linear-gradient(
    to right,
    red,
    orangered,
    yellow,
    green,
    blue,
    purple
  );
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: larger;
  transition: all 5s linear;
  transform: translateY(-3px);
  /* animation: anime 10s linear infinite; */
}

.footer {
  /* background-color: visible; */
  background-image: linear-gradient(
    to right,
    red,
    orangered,
    yellow,
    green,
    blue,
    purple
  );
  min-height: 14rem;
  /* animation: anime 10s linear infinite; */
  /* z-index: 11; */
}
@keyframes anime {
  0% {
    filter: hue-rotate(0deg);
    opacity: 1;
  }
  100% {
    filter: hue-rotate(360deg);
    opacity: 1;
  }
}
